/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

/* Common Styles for Containers */
.selection-container,
.login-selection-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto; /* Ensures container is centered in the viewport */
}

h1 {
    color: #333;
    margin-bottom: 2rem;
}

/* Styles for Option Links */
.option a,
.login-option a {
    display: inline-block;
    background-color: #106ba3;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 5px; /* Spacing between buttons */
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.option a:hover,
.login-option a:hover {
    background-color: #0d5a8a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Differentiating Styles for Login Options */
.login-option a[href="/patient-login"] {
    background-color: #4CAF50; /* Green for patients */
}

.login-option a[href="/patient-login"]:hover {
    background-color: #388E3C;
}

.login-option a[href="/healthcare-login"] {
    background-color: #146cdf; /* Orange for healthcare personnel */
}

.login-option a[href="/healthcare-login"]:hover {
    background-color: #146cdf;
}

/* Styles for Flash Messages (If applicable) */
.flashes li {
    list-style-type: none;
    margin: 10px 0;
    padding: 5px;
    background-color: #9fdf9f; /* Light green for success messages */
    color: green; /* Text color for success messages */
    border: 1px solid #3c763d; /* Border color for success messages */
    border-radius: 5px;
    text-align: center;
}
