<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to MinSundhed.dk</title>
    <link rel="stylesheet" href="/static/css/homescreen.css" />
  </head>
  <body>
    <div class="selection-container">
      <h1>Welcome to MinSundhed.dk</h1>
      <div class="option">
        <a href="/login-options">Login</a>
        <a href="/register">Register</a>
      </div>
    </div>
  </body>
</html>
