<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Selection</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="login-selection-container">
      <h2>Login As</h2>
      <div class="login-option">
        <a href="/patient-login">For Patients</a>
        <a href="/healthcare-login">For Healthcare Personnel</a>
      </div>
    </div>
  </body>
</html>
