<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Selection</title>
    <link rel="stylesheet" href="/static/css/loginOptions.css" />
  </head>
  <body>
    <div class="login-selection-container">
      <h1>Login As</h1>
      <div class="login-option">
        <a href="/patientLogin">For Patients</a>
        <a href="/healthcareLogin">For Healthcare Personnel</a>
      </div>
    </div>
  </body>
</html>
