<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/registerUser.css" />
  </head>
  <body>
    {% with messages =
    get_flashed_messages(category_filter=["registration_error",
    "registration_success"]) %} {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
      <div
        class="{{ 'registration_success' if 'success' in message else 'registration_error' }}"
      >
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div class="registration-container">
      <h1>Register</h1>
      <form action="/auth/register" method="post">
        <div class="input-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
